<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="background">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="logo-vibe">Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-wrapper">
    <h1 class="headline-lg">My Closet</h1>
    <p class="body-md secondary">Manage your style DNA and vibes.</p>

    <!-- User profile details, settings, and closet items will go here -->
  </div>
</ion-content>